{{ template "base.html.go.tmpl" . }}

{{ define "base_content" }}
  <div
    id="alarms-list-container"
    class="d-flex gap-2"
    style="width: 98%; height: 98%; margin: 1%;"
  >
    {{ if not .MaxNumberOfAlarmsReached }}
      <a
        href="/alarms/new"
        class="btn btn-secondary d-flex justify-content-center align-items-center"
        role="button"
        style="width: 5%"
      >
        <i class="bi bi-plus-circle text-yellow"></i>
      </a>
    {{ end }}


    <div class="d-flex flex-column gap-2" style="flex: 1">
      {{ range $i, $v := .AlarmsByStatus }}
        <div class="alarms-list-grid gap-2">
          {{ range $v.Alarms }}
            <div
              class="d-flex flex-column"
              style="border: 1px solid {{ if $v.Status.IsEnabled -}}
                white
              {{- else -}}
                #626262
              {{- end }};"
            >
              <div class="d-flex gap-3" style="margin: 5px 10px 0 10px;">
                <p class="m-0 {{ if .Enabled }}fw-bold{{ end }}">
                  {{ .TimeToString }}
                </p>
                <p class="m-0">{{ formatDays .Days }}</p>
                <p class="m-0">{{ .Name }}</p>
              </div>
              <div class="d-flex">
                <form
                  action="/alarms/{{ .ID }}/enabled"
                  method="POST"
                  style="flex: 1"
                >
                  <button
                    type="submit"
                    class="btn btn-link btn-lg pt-1 pb-1"
                    style="width: 100%;"
                  >
                    {{ if .Enabled }}
                      <i class="bi bi-toggle-on"></i>
                    {{ else }}
                      <i class="bi bi-toggle-off"></i>
                    {{ end }}
                  </button>
                  <input
                    type="hidden"
                    name="value"
                    value="{{ not .Enabled }}"
                  />
                </form>

                <form
                  action="/alarms/{{ .ID }}/skip-next"
                  method="POST"
                  style="flex: 1"
                >
                  <button
                    type="submit"
                    class="btn btn-link btn-lg pt-1 pb-1"
                    style="width: 100%;"
                  >
                    {{ if .SkipNext }}
                      <i
                        class="bi bi-skip-end-btn-fill"
                        style="color: red;"
                      ></i>
                    {{ else }}
                      <i
                        class="bi bi-skip-end-btn-fill"
                        style="color: grey;"
                      ></i>
                    {{ end }}
                  </button>
                  <input
                    type="hidden"
                    name="value"
                    value="{{ not .SkipNext }}"
                  />
                </form>

                <a
                  style="flex: 1; width: 100%;"
                  href="/alarms/{{ .ID }}"
                  class="btn btn-link btn-lg pt-1 pb-1"
                >
                  <i class="bi bi-pencil-square"></i>
                </a>

                <form
                  method="post"
                  action="/alarms/{{ .ID }}/delete"
                  onsubmit="return confirm('Are you sure?');"
                  style="flex: 1"
                >
                  <button
                    type="submit"
                    class="btn btn-link btn-lg pt-1 pb-1"
                    style="width: 100%;"
                  >
                    <i class="bi bi-trash" style="color: red;"></i>
                  </button>
                </form>
              </div>
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
