
version: '3.7'
services:
  srv-config:
    build:
      context: src
      dockerfile: srv-config.Dockerfile
    container_name: srv-config
    networks:
      - sunrise-alarm
    ports:
      - "127.0.0.1:8001:80"
    environment:
      - "MQTT_BROKER_HOST=mosquitto"

  srv-physical:
    build:
      context: src/srv-physical
    container_name: srv-physical
    networks:
      - sunrise-alarm
    ports:
      - "127.0.0.1:8002:80"
    environment:
      - "DEBUG=True"
      - "MOCK=True"
      - "MQTT_BROKER_HOST=mosquitto"
      - "MQTT_CLIENT_ID=srv-physical-docker"

  srv-audio:
    build:
      context: src
      dockerfile: srv-audio.Dockerfile
    container_name: srv-audio
    volumes:
      - "/tmp/pa-sunrise-alarm.socket:/pulse/pulseaudio.socket"
    networks:
      - sunrise-alarm
    ports:
      - "127.0.0.1:8003:80"
    environment:
      - "MQTT_BROKER_HOST=mosquitto"
      - "RUST_BACKTRACE=1"

  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    networks:
      - sunrise-alarm
    ports:
      - "127.0.0.1:1883:1883"

networks:  
    sunrise-alarm:
        name: sunrise-alarm