
version: '3.7'
services:
  srv-config:
    build:
      context: src
      dockerfile: srv-config.Dockerfile
    container_name: srv-config
    networks:
      - sunrise-alarm
    ports:
      - "127.0.0.1:9000:80"
    environment:
      - "MQTT_BROKER_HOST=mosquitto"

  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    networks:
      - sunrise-alarm
    ports:
      - "127.0.0.1:1883:1883"

networks:  
    sunrise-alarm:
        name: sunrise-alarm