version: "3.7"
services:
  srv-alarm:
    image: jenswbe/sunrise-alarm-srv-alarm
    container_name: srv-alarm
    networks:
      - sunrise-alarm
    ports:
      - "8000:8080"
    environment:
      - "MQTT_BROKER_HOST=mosquitto"
      - "RUST_BACKTRACE=1"

  srv-config:
    image: jenswbe/sunrise-alarm-srv-config
    container_name: srv-config
    networks:
      - sunrise-alarm
    ports:
      - "8001:8080"
    environment:
      - "MQTT_BROKER_HOST=mosquitto"
      - "RUST_BACKTRACE=1"

  srv-physical:
    build:
      context: src
      dockerfile: srv-physical.Dockerfile
    container_name: srv-physical
    networks:
      - sunrise-alarm
    ports:
      - "8002:8080"
    environment:
      - "DEBUG=True"
      - "MOCK=True"
      - "MQTT_BROKER_HOST=mosquitto"
      - "MQTT_CLIENT_ID=srv-physical-docker"

  srv-audio:
    image: jenswbe/sunrise-alarm-srv-audio
    container_name: srv-audio
    volumes:
      - "/tmp/pa-sunrise-alarm.socket:/pulse/pulseaudio.socket"
    networks:
      - sunrise-alarm
    ports:
      - "8003:8080"
    environment:
      - "MQTT_BROKER_HOST=mosquitto"
      - "RUST_BACKTRACE=1"

  api-watchface:
    image: devopsfaith/krakend
    container_name: api-watchface
    networks:
      - sunrise-alarm
    ports:
      - "8004:8080"
    volumes:
      - "./src/api-watchface:/etc/krakend:ro"
    cap_add:
      - NET_BIND_SERVICE

  gui-watchface:
    build:
      context: src
      dockerfile: gui-watchface.Dockerfile
    container_name: gui-watchface
    networks:
      - sunrise-alarm
    ports:
      - "8080:8080"

  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    networks:
      - sunrise-alarm
    ports:
      - "1883:1883"

networks:
  sunrise-alarm:
    name: sunrise-alarm
