# Generic
wheel
pylint
autopep8

# FastAPI
uvicorn
fastapi

# MQTT
gmqtt

# Raspberry Pi
adafruit-circuitpython-tsl2591
gpiozero
rpi-backlight
rpi_ws281x

# Tests
pytest
pytest-asyncio
pytest-env
pytest-xdist
requests