version: "3.7"
services:
  srv-alarm:
    image: jenswbe/sunrise-alarm-srv-alarm
    container_name: srv-alarm
    restart: always
    depends_on:
      - mosquitto
    networks:
      - sunrise-alarm
    ports:
      - "127.0.0.1:8000:8080"
    environment:
      - "TZ=${TIMEZONE}"
      - "MQTT_BROKER_HOST=mosquitto"
      - "RUST_LOG=srv_alarm=debug,srv_alarm::mqtt=info,info"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.srv-alarm.entrypoints=web"
      - "traefik.http.routers.srv-alarm.rule=Path(`/alarms/next`)"

  srv-config:
    image: jenswbe/sunrise-alarm-srv-config
    container_name: srv-config
    restart: always
    depends_on:
      - mosquitto
    networks:
      - sunrise-alarm
    ports:
      - "127.0.0.1:8001:8080"
    volumes:
      - "srv-config-data:/data"
    environment:
      - "TZ=${TIMEZONE}"
      - "MQTT_BROKER_HOST=mosquitto"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.srv-config.entrypoints=web"
      - "traefik.http.routers.srv-config.rule=PathPrefix(`/alarms`)"

  srv-physical:
    image: jenswbe/sunrise-alarm-srv-physical
    container_name: srv-physical
    restart: always
    privileged: true
    depends_on:
      - mosquitto
    networks:
      - sunrise-alarm
    ports:
      - "127.0.0.1:8002:8080"
    environment:
      - "TZ=${TIMEZONE}"
      - "MQTT_BROKER_HOST=mosquitto"
      - "MQTT_CLIENT_ID=srv-physical"

  srv-audio:
    image: jenswbe/sunrise-alarm-srv-audio
    container_name: srv-audio
    restart: always
    depends_on:
      - mosquitto
    networks:
      - sunrise-alarm
    ports:
      - "127.0.0.1:8003:8080"
    volumes:
      - "srv-audio-music:/music"
      - "/tmp/pa-sunrise-alarm.socket:/pulse/pulseaudio.socket"
    environment:
      - "TZ=${TIMEZONE}"
      - "MQTT_BROKER_HOST=mosquitto"

  api-watchface:
    image: traefik
    container_name: api-watchface
    restart: always
    networks:
      - sunrise-alarm
    ports:
      - "8004:8080"
      - "8084:8081"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    command:
      - "--providers.docker=true"
      - "--providers.docker.network=traefik"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:8080"
      - "--entrypoints.web.http.middlewares=cors"
      - "--entrypoints.api.address=:8081"
      - "--api=true"
    environment:
      - "TZ=${TIMEZONE}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.entrypoints=api"
      - "traefik.http.routers.api.rule=PathPrefix(`/`)"
      - "traefik.http.routers.api.service=api@internal"
      - "traefik.http.middlewares.cors.headers.accesscontrolallowheaders=*"
      - "traefik.http.middlewares.cors.headers.accesscontrolallowmethods=*"
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworigin=*"
      - "traefik.http.middlewares.cors.headers.addvaryheader=true"

  gui-watchface:
    image: jenswbe/sunrise-alarm-gui-watchface
    container_name: gui-watchface
    restart: always
    depends_on:
      - mosquitto
      - api-watchface
    networks:
      - sunrise-alarm
    ports:
      - "8080:8080"
    environment:
      - "TZ=${TIMEZONE}"

  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    restart: always
    networks:
      - sunrise-alarm
    volumes:
      - "mosquitto-data:/mosquitto/data"
      - "mosquitto-log:/mosquitto/log"
      - "../src/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro"
    environment:
      - "TZ=${TIMEZONE}"
    ports:
      - "9001:9001"

volumes:
  srv-config-data:
  srv-audio-music:
  mosquitto-data:
  mosquitto-log:

networks:
  sunrise-alarm:
    name: sunrise-alarm
