
version: '3.7'
services:
  srv-config:
    image: jenswbe/sunrise-alarm-srv-config
    container_name: srv-config
    restart: always
    networks:
      - sunrise-alarm
    volumes:
      - "srv-config-data:/data"
    environment:
      - "TZ=${TIMEZONE}"
      - "MQTT_BROKER_HOST=mosquitto"

  mosquitto:
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    networks:
      - sunrise-alarm
    volumes:
      - "mosquitto-data:/mosquitto/data"
      - "mosquitto-log:/mosquitto/log"
    environment:
      - "TZ=${TIMEZONE}"

networks:  
    sunrise-alarm:
        name: sunrise-alarm