[package]
name = "srv-config"
version = "0.1.0"
authors = ["Jens Willemsens <jens@jensw.be>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
convert_case = "0.4"
common-models = { path = "../common-models" }
log = "0.4"
rumqttc = "0.2"
pretty_env_logger = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "0.2", features = ["macros"]}
uuid = { version = "0.8", features = ["serde", "v4"] }
warp = "0.2.5"

[dependencies.rustbreak]
version = "2"
features = ["ron_enc"]

[dev-dependencies]
tempfile = "3.1.0"