name: Test, build and publish
on:
  push:
    branches: [main]

env:
  DOCKER_HUB_USER: jenswbebot
  PLATFORMS: linux/amd64,linux/arm/v7

jobs:
  build-services:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        service:
          - srv-alarm
          - srv-config
          - srv-audio
          - gui-watchface
    env:
      BUILD_PATH: src
      BUILD_FILE: ${{ matrix.service }}.Dockerfile
      DOCKER_HUB_REPO: jenswbe/sunrise-alarm-${{ matrix.service }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ${{ env.BUILD_PATH }}
          file: ${{ env.BUILD_PATH }}/${{ env.BUILD_FILE }}
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ env.DOCKER_HUB_REPO }}:latest

      - name: Update repo description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ env.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ${{ env.DOCKER_HUB_REPO }}
