name: Test
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"
          cache-dependency-path: src/go.sum

      - name: Install dependencies
        run: |
          sudo apt install libasound2-dev

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          working-directory: src
          args: --timeout=10m

      - name: Test exhaustive use of case statements
        working-directory: src
        run: |
          go install github.com/nishanths/exhaustive/...@latest
          exhaustive ./...
