name: Test, build and publish
on:
  push:
    branches: [main]

env:
  DOCKER_HUB_USER: jenswbebot
  PLATFORMS: linux/amd64,linux/arm/v7

jobs:
  srv-config:
    runs-on: ubuntu-latest
    env:
      BUILD_PATH: src
    strategy:
      matrix:
        include:
          - BUILD_FILE: srv-config.Dockerfile
            DOCKER_HUB_REPO: jenswbe/sunrise-alarm-srv-config
          - BUILD_FILE: srv-audio.Dockerfile
            DOCKER_HUB_REPO: jenswbe/sunrise-alarm-srv-audio
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ${{ env.BUILD_PATH }}
          file: ${{ env.BUILD_PATH }}/${{ matrix.BUILD_FILE }}
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: ${{ matrix.DOCKER_HUB_REPO }}:latest

      - name: Update repo description
        uses: peter-evans/dockerhub-description@v2
        with:
          username: ${{ env.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: ${{ matrix.DOCKER_HUB_REPO }}
